In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "f1ba0db1-cf4a-4c79-9380-659278f222a6",
"fs.azure.account.oauth2.client.secret": '4AL8Q~XMfujSHgeeTlPxjzBcg6oZ2DEp_MzePdn1',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/929d89fa-4990-46a8-bdd8-817582587ebc/oauth2/token"}

dbutils.fs.mount(
source = "abfss://paris-olympic-data-2024@parisolympicdatasonu.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/parisolympic",
extra_configs = configs)

In [0]:
dbutils.fs.ls("mnt/parisolympic")

[FileInfo(path='dbfs:/mnt/parisolympic/raw-data/', name='raw-data/', size=0, modificationTime=1726814036000),
 FileInfo(path='dbfs:/mnt/parisolympic/transformed-dta/', name='transformed-dta/', size=0, modificationTime=1726814047000)]

In [0]:
Athletes = spark.read.format("csv").option("Header", "true").load("/mnt/parisolympic/raw-data/athletes.csv")
Athletes.show() # Verifying raw-data of athletes.csv file

+--------------------+--------------------+-------------------+----+----+
|                Name|                 NOC|         Discipline| _c3| _c4|
+--------------------+--------------------+-------------------+----+----+
|     AALERUD Katrine|              Norway|       Cycling Road|NULL|NULL|
|         ABAD Nestor|               Spain|Artistic Gymnastics|NULL|NULL|
|   ABAGNALE Giovanni|               Italy|             Rowing|NULL|NULL|
|      ABALDE Alberto|               Spain|         Basketball|NULL|NULL|
|       ABALDE Tamara|               Spain|         Basketball|NULL|NULL|
|           ABALO Luc|              France|           Handball|NULL|NULL|
|        ABAROA Cesar|               Chile|             Rowing|NULL|NULL|
|       ABASS Abobakr|               Sudan|           Swimming|NULL|NULL|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|NULL|NULL|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|NULL|NULL|
|        ABBINGH Lois|         Netherlands|           Handball|NULL|NULL|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|NULL|NULL|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|NULL|NULL|
|ABDALLA Abubaker ...|               Qatar|          Athletics|NULL|NULL|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|NULL|NULL|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|NULL|NULL|
| ABDALRASOOL Mohamed|               Sudan|               Judo|NULL|NULL|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|NULL|NULL|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|NULL|NULL|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|NULL|NULL|
+--------------------+--------------------+-------------------+----+----+
only showing top 20 rows

In [0]:
Athletes = Athletes.withColumnRenamed("NOC","Country") # replacing column(NOC) with new column name (Country)
Athletes.show() # Verifying column names of transfromed athletes.csv file

+--------------------+--------------------+-------------------+----+----+
|                Name|             Country|         Discipline| _c3| _c4|
+--------------------+--------------------+-------------------+----+----+
|     AALERUD Katrine|              Norway|       Cycling Road|NULL|NULL|
|         ABAD Nestor|               Spain|Artistic Gymnastics|NULL|NULL|
|   ABAGNALE Giovanni|               Italy|             Rowing|NULL|NULL|
|      ABALDE Alberto|               Spain|         Basketball|NULL|NULL|
|       ABALDE Tamara|               Spain|         Basketball|NULL|NULL|
|           ABALO Luc|              France|           Handball|NULL|NULL|
|        ABAROA Cesar|               Chile|             Rowing|NULL|NULL|
|       ABASS Abobakr|               Sudan|           Swimming|NULL|NULL|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|NULL|NULL|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|NULL|NULL|
|        ABBINGH Lois|         Netherlands|           Handball|NULL|NULL|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|NULL|NULL|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|NULL|NULL|
|ABDALLA Abubaker ...|               Qatar|          Athletics|NULL|NULL|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|NULL|NULL|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|NULL|NULL|
| ABDALRASOOL Mohamed|               Sudan|               Judo|NULL|NULL|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|NULL|NULL|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|NULL|NULL|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|NULL|NULL|
+--------------------+--------------------+-------------------+----+----+
only showing top 20 rows

In [0]:
# writing a UDF function to renaming column_name(NOC) to Column_name(Country) for all the files.

def rename_and_clean_column(file_paths):
    df = spark.read.csv(file_paths, header=True, inferSchema=True)
    for col_name in df.columns:
        if "NOC" in col_name:
            df = df.withColumnRenamed(col_name, "Country")
            
    return df

file_paths = [
    "dbfs:/mnt/parisolympic/raw-data/coaches.csv",
    "dbfs:/mnt/parisolympic/raw-data/entriesgender.csv",
    "dbfs:/mnt/parisolympic/raw-data/medals.csv",
    "dbfs:/mnt/parisolympic/raw-data/teams.csv"
]

Coaches = rename_and_clean_column(file_paths[0])
Genders = rename_and_clean_column(file_paths[1])
Medals = rename_and_clean_column(file_paths[2])
Teams = rename_and_clean_column(file_paths[3])

In [0]:
#Printing Files and its Schemas

Athletes.show(5)
Athletes.printSchema()

Coaches.show(5)
Coaches.printSchema()

Genders.show(5)
Genders.printSchema()

Medals.show(5)
Medals.printSchema()

Teams.show(5)
Teams.printSchema()

+-----------------+-------+-------------------+----+----+
|             Name|Country|         Discipline| _c3| _c4|
+-----------------+-------+-------------------+----+----+
|  AALERUD Katrine| Norway|       Cycling Road|NULL|NULL|
|      ABAD Nestor|  Spain|Artistic Gymnastics|NULL|NULL|
|ABAGNALE Giovanni|  Italy|             Rowing|NULL|NULL|
|   ABALDE Alberto|  Spain|         Basketball|NULL|NULL|
|    ABALDE Tamara|  Spain|         Basketball|NULL|NULL|
+-----------------+-------+-------------------+----+----+
only showing top 5 rows

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

+---------------+-------------+----------+-----+----+
|           Name|      Country|Discipline|Event| _c4|
+---------------+-------------+----------+-----+----+
|ABDELMAGID Wael|        Egypt|  Football| NULL|NULL|
|      ABE Junya|        Japan|Volleyball| NULL|NULL|
|  ABE Katsuhiko|        Japan|Basketball| NULL|NULL|
|   ADAMA Cherif|CÃ´te d'Ivoire|  Football| NULL|NULL|
|     AGEBA Yuya|        Japan|Volleyball| NULL|NULL|
+---------------+-------------+----------+-----+----+
only showing top 5 rows

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- _c4: string (nullable = true)

+-------------------+------+----+-----+----+
|         Discipline|Female|Male|Total| _c4|
+-------------------+------+----+-----+----+
|     3x3 Basketball|    32|  32|   64|NULL|
|            Archery|    64|  64|  128|NULL|
|Artistic Gymnastics|    98|  98|  196|NULL|
|  Artistic Swimming|   105|   0|  105|NULL|
|          Athletics|   969|1072| 2041|NULL|
+-------------------+------+----+-----+----+
only showing top 5 rows

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- _c4: string (nullable = true)

+----+--------------------+----+------+------+-----+-------------+
|Rank|             Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
+----+--------------------+----+------+------+-----+-------------+
only showing top 5 rows

root
 |-- Rank: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

+-------+--------------+--------------------+-----+----+
|   Name|    Discipline|             Country|Event| _c4|
+-------+--------------+--------------------+-----+----+
|Belgium|3x3 Basketball|             Belgium|  Men|NULL|
|  China|3x3 Basketball|People's Republic...|  Men|NULL|
|  China|3x3 Basketball|People's Republic...|Women|NULL|
| France|3x3 Basketball|              France|Women|NULL|
|  Italy|3x3 Basketball|               Italy|Women|NULL|
+-------+--------------+--------------------+-----+----+
only showing top 5 rows

root
 |-- Name: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- _c4: string (nullable = true)

In [0]:
# Countries with highest no of Medals
Countries_with_max_gold = Medals.orderBy("Gold", ascending=False).select("Country","Gold").show(5)

+--------------------+----+
|             Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
+--------------------+----+
only showing top 5 rows

In [0]:
#Average participation of athletes(Male/Female) in each Descipline(game)

Average_participation_by_genders = Genders.withColumn("Avg_Female", Genders["Female"]/Genders['Total'])\
    .withColumn("Avg_Male", Genders['Male']/Genders['Total']).select("Discipline","Female","Male","Total","Avg_Female","Avg_Male")

Average_participation_by_genders.show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [0]:
Athletes.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/parisolympic/transformed-dta/athletes")
Coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/parisolympic/transformed-dta/coaches")
Genders.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/parisolympic/transformed-dta/entriesgender")
Medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/parisolympic/transformed-dta/medals")
Teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/parisolympic/transformed-dta/teams")